<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ page.title }}</title>
    
        <link rel="stylesheet" href="/static/minimal/stylesheets/styles.css">
        <link rel="stylesheet" href="/static/minimal/stylesheets/pygment_trac.css">
		<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
		<!-- <script src="http://kramdown.gettalong.org/MathJax/MathJax.js" type="text/javascript"></script> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper">
            <header>
				<h1><a href="/" style="color:#069; font-weight:700">{{ site.title }}</a></h1>
				<p style="font-size:80%; line-height: 1.5"><a style="color:#666" href="{{ site.link }}">{{ site.link }}</a></p>
				<p style="line-height: 1.5; font-size:90%">
				<a href="/cv.html">Curriculum Vitae</a> (pdf)<br>
				<a href="/brown.html">Brown Projects</a> <br>
				<a href="/mit.html">MIT Projects</a><br>
				<a href="/ssm.html">SSM Projects</a><br>
				<a href="/snu.html">SNU Projects</a><br>
				<a href="/publications.html">Publications</a>
				</p>


        	</header>

