			<footer>
				<p style="line-height: 1.2">
				<b>Address</b><br>
				<span style="font-size:80%">
				Brown University, <br> Computer Science Dept.<br>
				115 Waterman St.<br>
				Providence, RI, 02912-1910<br>
				USA </span><br><br>
				<b>Email</b><br>
				<span style="font-size:80%">jun_ki_lee <b>at</b> brown <b>dot</b> edu</span><br></p>
				<p style="line-height: 1.0"><small>Hosted on GitHub Pages.<br>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
                <p style="line-height: 1.0"><small>{{ site.copyright }}</small></p>
            </footer>
        </div>
        <script src="/static/minimal/javascripts/scale.fix.js"></script>
		<script src="javascripts/scale.fix.js"></script>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-66614438-1");
				pageTracker._trackPageview();
			} catch(err) {}
	</script>
    </body>
</html>

